{
  "extends": ["react-app","react-app/jest"], 
  "rules": {
    "semi" : [1,"always"],
    "quotes" : [1, "single"],
    "jsx-quotes": [1, "prefer-single"],
    "indent": "off", 
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-unused-vars": "off"
  }
}