$border: 1px solid #ccc;

.toolbar { border: $border; }
.wrapper {
  padding: .5rem;
  border: $border;
}
.editor {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:#fff;
  border: $border;
  & div { margin: .5em .1em; }
}
.button {
  padding: 1rem;
  & button {
    font-size: 1rem;
    padding: .5rem;
  }
}